body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Roboto', sans-serif;
}


header h1{
    text-align: center;
    margin: 0;
    padding: 1rem 0;
}

main{
    box-shadow: 0 0 0 2px gray;
}

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0 .8rem;
}

#cards section{
    background-color: #ddd;
    padding: 1rem;
    text-align: center;
}

section span{
    display: block;
    margin: .5rem 0;
}

#cards section img{
    width: 100%;
}


footer{
    text-align: center;
    padding: 2rem;
}
